.* -> bitxorcore
bitxorcore -> bitxorcore/utils

# rules don't have to be in any particular order, but I guess that will make them easier to read

# level 1
bitxorcore/crypto -> bitxorcore/utils
bitxorcore/deltaset -> bitxorcore/utils

bitxorcore/thread/detail -> bitxorcore/utils
bitxorcore/thread -> bitxorcore/thread/detail

# hack, there's dependency in include dirs
# bitxorcore/utils/HexFormatter.h ->  bitxorcore/utils/traits/Traits.h    (bitxorcore/utils -> bitxorcore/utils/traits)
# bitxorcore/utils/traits/Traits.h -> bitxorcore/utils/ClampedBaseValue.h (bitxorcore/utils/traits -> bitxorcore/utils)
bitxorcore/utils/.* -> bitxorcore/utils
bitxorcore/utils -> bitxorcore/utils/traits

bitxorcore/version/nix -> bitxorcore/version
bitxorcore/version/win -> bitxorcore/version

# level 2
bitxorcore/model -> bitxorcore/crypto

# level 2b
bitxorcore/ionet -> bitxorcore/model
bitxorcore/ionet -> bitxorcore/thread
bitxorcore/ionet -> bitxorcore/version

# level 2c
bitxorcore/config -> bitxorcore/ionet
bitxorcore/net -> bitxorcore/ionet

# level 2d
bitxorcore/io -> bitxorcore/config
bitxorcore/io -> bitxorcore/model

# level 3
bitxorcore/api -> bitxorcore/io
bitxorcore/api -> bitxorcore/ionet

bitxorcore/crypto_voting -> bitxorcore/io

bitxorcore/state -> bitxorcore/io

bitxorcore/tree -> bitxorcore/io

# level 3b
bitxorcore/cache_db -> bitxorcore/config
bitxorcore/cache_db -> bitxorcore/deltaset
bitxorcore/cache_db -> bitxorcore/tree

# level 4
bitxorcore/cache -> bitxorcore/cache_db
bitxorcore/cache -> bitxorcore/deltaset
bitxorcore/cache -> bitxorcore/io
bitxorcore/cache -> bitxorcore/state
bitxorcore/cache -> bitxorcore/tree

bitxorcore/cache_tx -> bitxorcore/state

bitxorcore/process -> bitxorcore/io
bitxorcore/process -> bitxorcore/version

# level 5
bitxorcore/cache_core -> bitxorcore/cache
bitxorcore/cache_core -> bitxorcore/deltaset

bitxorcore/disruptor -> bitxorcore/model
bitxorcore/disruptor -> bitxorcore/thread

bitxorcore/handlers -> bitxorcore/api
bitxorcore/handlers -> bitxorcore/cache

bitxorcore/observers -> bitxorcore/cache

bitxorcore/plugins -> bitxorcore/cache
bitxorcore/plugins -> bitxorcore/config
bitxorcore/plugins -> bitxorcore/handlers
bitxorcore/plugins -> bitxorcore/ionet
bitxorcore/plugins -> bitxorcore/observers
bitxorcore/plugins -> bitxorcore/validators

bitxorcore/validators -> bitxorcore/cache
bitxorcore/validators -> bitxorcore/thread

# level 6
bitxorcore/chain -> bitxorcore/cache_core
bitxorcore/chain -> bitxorcore/cache_tx
bitxorcore/chain -> bitxorcore/disruptor
bitxorcore/chain -> bitxorcore/handlers
bitxorcore/chain -> bitxorcore/net
bitxorcore/chain -> bitxorcore/observers
bitxorcore/chain -> bitxorcore/validators

bitxorcore/keylink -> bitxorcore/cache_core
bitxorcore/keylink -> bitxorcore/observers
bitxorcore/keylink -> bitxorcore/validators

bitxorcore/subscribers -> bitxorcore/cache
bitxorcore/subscribers -> bitxorcore/cache_tx
bitxorcore/subscribers -> bitxorcore/config
bitxorcore/subscribers -> bitxorcore/validators

# level 7
bitxorcore/consumers -> bitxorcore/chain
bitxorcore/consumers -> bitxorcore/subscribers

# level 8
bitxorcore/extensions -> bitxorcore/consumers
bitxorcore/extensions -> bitxorcore/plugins
bitxorcore/extensions -> bitxorcore/subscribers

# level 9
bitxorcore/local -> bitxorcore/extensions

# level 10
bitxorcore/local/broker -> bitxorcore/local
bitxorcore/local/recovery -> bitxorcore/local
bitxorcore/local/server -> bitxorcore/local

# level 10b
bitxorcore/local/importer -> bitxorcore/local/recovery
bitxorcore/local/importer -> bitxorcore/local/server

# level 11
bitxorcore/process/broker -> bitxorcore/local/broker
bitxorcore/process/broker -> bitxorcore/process

bitxorcore/process/importer -> bitxorcore/local/importer
bitxorcore/process/importer -> bitxorcore/process

bitxorcore/process/recovery -> bitxorcore/local/recovery
bitxorcore/process/recovery -> bitxorcore/process

bitxorcore/process/server -> bitxorcore/local/server
bitxorcore/process/server -> bitxorcore/process

# EXTENSIONS
EXTENSIONS_BASE = bitxorcore/extensions

extensions/addressextraction.* -> EXTENSIONS_BASE
extensions/addressextraction -> extensions/addressextraction/src

extensions/diagnostics.* -> EXTENSIONS_BASE
extensions/diagnostics -> extensions/diagnostics/src

extensions/filespooling.* -> EXTENSIONS_BASE
extensions/filespooling -> extensions/filespooling/src

extensions/finalization.* -> EXTENSIONS_BASE
extensions/finalization -> extensions/finalization/src
extensions/finalization -> finalization/src/io
EXT_FINALIZATION_SRC = extensions/finalization/src.*
EXT_FINALIZATION_SRC -> finalization/src.*
EXT_FINALIZATION_SRC -> bitxorcore/crypto_voting

extensions/harvesting.* -> EXTENSIONS_BASE
extensions/harvesting -> extensions/harvesting/src

extensions/hashcache.* -> EXTENSIONS_BASE
extensions/hashcache -> extensions/hashcache/src
extensions/hashcache/src -> plugins/services/hashcache/src/cache

extensions/networkheight.* -> EXTENSIONS_BASE
extensions/networkheight -> extensions/networkheight/src

extensions/nodediscovery.* -> EXTENSIONS_BASE
extensions/nodediscovery -> extensions/nodediscovery/src
extensions/nodediscovery/src.* -> nodediscovery/src.*

extensions/packetserver.* -> EXTENSIONS_BASE
extensions/packetserver -> extensions/packetserver/src

extensions/partialtransaction.* -> EXTENSIONS_BASE
extensions/partialtransaction -> extensions/partialtransaction/src
EXT_PARTIALTRANSACTION_SRC = extensions/partialtransaction/src.*
EXT_PARTIALTRANSACTION_SRC -> partialtransaction/src.*
EXT_PARTIALTRANSACTION_SRC -> EXTENSIONS_BASE
EXT_PARTIALTRANSACTION_SRC -> plugins/txes/aggregate/src/model
extensions/partialtransaction/src/chain -> plugins/txes/aggregate/src/validators

extensions/pluginhandlers.* -> EXTENSIONS_BASE
extensions/pluginhandlers -> extensions/pluginhandlers/src

extensions/sync.* -> EXTENSIONS_BASE
extensions/sync -> extensions/sync/src

extensions/syncsource.* -> EXTENSIONS_BASE
extensions/syncsource -> extensions/syncsource/src

extensions/timesync.* -> EXTENSIONS_BASE
extensions/timesync -> extensions/timesync/src
extensions/timesync/src.* -> timesync/src.*

extensions/transactionsink.* -> EXTENSIONS_BASE
extensions/transactionsink -> extensions/transactionsink/src

extensions/unbondedpruning.* -> EXTENSIONS_BASE
extensions/unbondedpruning -> extensions/unbondedpruning/src
extensions/unbondedpruning/src -> plugins/txes/lock_hash/src/model

extensions/zeromq.* -> EXTENSIONS_BASE
extensions/zeromq -> extensions/zeromq/src

# mongo extension and plugins

EXT_MONGO_SRC = extensions/mongo/src.*
EXT_MONGO_SRC -> EXTENSIONS_BASE
EXT_MONGO_SRC -> mongo/src.*
extensions/mongo/src/mappers -> plugins/coresystem/src/model
extensions/mongo/src -> extensions/mongo/src/mappers
extensions/mongo/src -> extensions/mongo/src/storages
extensions/mongo -> EXT_MONGO_SRC

extensions/mongo/plugins/account_link/src -> mongo/src.*
extensions/mongo/plugins/account_link/src -> plugins/txes/account_link/src/model

EXT_MONGO_AGGREGATE_SRC = extensions/mongo/plugins/aggregate/src.*
EXT_MONGO_AGGREGATE_SRC -> mongo/src.*
EXT_MONGO_AGGREGATE_SRC -> plugins/txes/aggregate/src.*

EXT_MONGO_LOCK_SHARED_SRC = extensions/mongo/plugins/lock_shared/src.*
EXT_MONGO_LOCK_SHARED_SRC -> mongo/src.*
EXT_MONGO_LOCK_SHARED_SRC -> plugins/txes/lock_shared/src.*
extensions/mongo/plugins/lock_shared/src -> extensions/mongo/plugins/lock_shared/src/storages

EXT_MONGO_LOCK_HASH_SRC = extensions/mongo/plugins/lock_hash/src.*
EXT_MONGO_LOCK_HASH_SRC -> EXT_MONGO_LOCK_SHARED_SRC
EXT_MONGO_LOCK_HASH_SRC -> plugins/txes/lock_hash/src.*
extensions/mongo/plugins/lock_hash/src -> extensions/mongo/plugins/lock_hash/src/storages
extensions/mongo/plugins/lock_hash/src/mappers -> mongo/plugins/lock_shared/src/mappers
extensions/mongo/plugins/lock_hash/src/storages -> mongo/plugins/lock_shared/src/storages

EXT_MONGO_LOCK_SECRET_SRC = extensions/mongo/plugins/lock_secret/src.*
EXT_MONGO_LOCK_SECRET_SRC -> EXT_MONGO_LOCK_SHARED_SRC
EXT_MONGO_LOCK_SECRET_SRC -> plugins/txes/lock_secret/src.*
extensions/mongo/plugins/lock_secret/src -> extensions/mongo/plugins/lock_secret/src/storages
extensions/mongo/plugins/lock_secret/src/mappers -> mongo/plugins/lock_shared/src/mappers
extensions/mongo/plugins/lock_secret/src/storages -> mongo/plugins/lock_shared/src/storages

EXT_MONGO_METADATA_SRC = extensions/mongo/plugins/metadata/src.*
EXT_MONGO_METADATA_SRC -> mongo/src.*
EXT_MONGO_METADATA_SRC -> plugins/txes/metadata/src.*
extensions/mongo/plugins/metadata/src -> extensions/mongo/plugins/metadata/src/storages

EXT_MONGO_TOKEN_SRC = extensions/mongo/plugins/token/src.*
EXT_MONGO_TOKEN_SRC -> mongo/src.*
EXT_MONGO_TOKEN_SRC -> plugins/txes/token/src.*
extensions/mongo/plugins/token/src -> extensions/mongo/plugins/token/src/storages
extensions/mongo/plugins/token/src/storages -> src/mappers

EXT_MONGO_MULTISIG_SRC = extensions/mongo/plugins/multisig/src.*
EXT_MONGO_MULTISIG_SRC -> mongo/src.*
EXT_MONGO_MULTISIG_SRC -> plugins/txes/multisig/src.*
extensions/mongo/plugins/multisig/src -> extensions/mongo/plugins/multisig/src/storages
extensions/mongo/plugins/multisig/src/storages -> src/mappers

EXT_MONGO_NAMESPACE_SRC = extensions/mongo/plugins/namespace/src.*
EXT_MONGO_NAMESPACE_SRC -> mongo/src.*
EXT_MONGO_NAMESPACE_SRC -> plugins/txes/namespace/src.*
extensions/mongo/plugins/namespace/src -> extensions/mongo/plugins/namespace/src/storages
extensions/mongo/plugins/namespace/src/storages -> src/mappers

EXT_MONGO_RESTRICTION_ACCOUNT_SRC = extensions/mongo/plugins/restriction_account/src.*
EXT_MONGO_RESTRICTION_ACCOUNT_SRC -> mongo/src.*
EXT_MONGO_RESTRICTION_ACCOUNT_SRC -> plugins/txes/restriction_account/src.*
extensions/mongo/plugins/restriction_account/src -> extensions/mongo/plugins/restriction_account/src/storages

EXT_MONGO_RESTRICTION_TOKEN_SRC = extensions/mongo/plugins/restriction_token/src.*
EXT_MONGO_RESTRICTION_TOKEN_SRC -> mongo/src.*
EXT_MONGO_RESTRICTION_TOKEN_SRC -> plugins/txes/restriction_token/src.*
extensions/mongo/plugins/restriction_token/src -> extensions/mongo/plugins/restriction_token/src/storages

extensions/mongo/plugins/transfer/src -> mongo/src.*
extensions/mongo/plugins/transfer/src -> plugins/txes/transfer/src/model

# plugins

PLUGIN_BASE = bitxorcore/plugins

PLUGIN_SERVICE_CORESYSTEM = plugins/coresystem/src.*
PLUGIN_SERVICE_CORESYSTEM -> plugins/coresystem/src/.* # local includes
PLUGIN_SERVICE_CORESYSTEM -> src/.* # local includes
PLUGIN_SERVICE_CORESYSTEM -> PLUGIN_BASE
PLUGIN_SERVICE_CORESYSTEM -> bitxorcore/cache_core
plugins/coresystem/src -> bitxorcore/handlers
plugins/coresystem/src/observers -> src/importance
plugins/coresystem/src/plugins -> bitxorcore/keylink

PLUGIN_SERVICE_HASHCACHE = plugins/services/hashcache/src.*
PLUGIN_SERVICE_HASHCACHE -> src/.* # local includes
PLUGIN_SERVICE_HASHCACHE -> PLUGIN_BASE
plugins/services/hashcache/src/cache -> bitxorcore/deltaset
plugins/services/hashcache/src/handlers -> bitxorcore/handlers

PLUGIN_SERVICE_SIGNATURE = plugins/services/signature/src.*
PLUGIN_SERVICE_SIGNATURE -> src/.* # local includes
PLUGIN_SERVICE_SIGNATURE -> PLUGIN_BASE

# transaction plugins

PLUGIN_TX_ACCOUNT_LINK = plugins/txes/account_link/src.*
PLUGIN_TX_ACCOUNT_LINK -> src/.* # local includes
PLUGIN_TX_ACCOUNT_LINK -> PLUGIN_BASE
PLUGIN_TX_ACCOUNT_LINK -> bitxorcore/cache_core
PLUGIN_TX_ACCOUNT_LINK -> bitxorcore/keylink

PLUGIN_TX_AGGREGATE = plugins/txes/aggregate/src.*
PLUGIN_TX_AGGREGATE -> src/.* # local includes
PLUGIN_TX_AGGREGATE -> PLUGIN_BASE

PLUGIN_TX_LOCK_SHARED = plugins/txes/lock_shared/src.*
PLUGIN_TX_LOCK_SHARED -> src/.* # local includes
PLUGIN_TX_LOCK_SHARED -> PLUGIN_BASE
PLUGIN_TX_LOCK_SHARED -> bitxorcore/cache_core
plugins/txes/lock_shared/src/cache -> bitxorcore/deltaset

PLUGIN_TX_LOCK_HASH = plugins/txes/lock_hash/src.*
PLUGIN_TX_LOCK_HASH -> plugins/txes/lock_shared/src.*
PLUGIN_TX_LOCK_HASH -> plugins/txes/aggregate.*
plugins/txes/lock_hash/src/cache -> bitxorcore/deltaset
plugins/txes/lock_hash/src/validators -> plugins/txes/aggregate/src/model

PLUGIN_TX_LOCK_SECRET = plugins/txes/lock_secret/src.*
PLUGIN_TX_LOCK_SECRET -> plugins/txes/lock_shared/src.*
plugins/txes/lock_secret/src/cache -> bitxorcore/deltaset

PLUGIN_TX_METADATA = plugins/txes/metadata/src.*
PLUGIN_TX_METADATA -> src/.*
PLUGIN_TX_METADATA -> PLUGIN_BASE
plugins/txes/metadata/src.* -> plugins/txes/namespace/src
plugins/txes/metadata/src/plugins -> plugins/txes/namespace/src/model
plugins/txes/metadata/src/state -> plugins/txes/metadata/src/model

PLUGIN_TX_TOKEN = plugins/txes/token/src.*
PLUGIN_TX_TOKEN -> src/.* # local includes
PLUGIN_TX_TOKEN -> PLUGIN_BASE
PLUGIN_TX_TOKEN -> plugins/txes/token.*
PLUGIN_TX_TOKEN -> bitxorcore/cache_core
plugins/txes/token/src/plugins -> bitxorcore/handlers

PLUGIN_TX_MULTISIG = plugins/txes/multisig/src.*
PLUGIN_TX_MULTISIG -> src/.* # local includes
PLUGIN_TX_MULTISIG -> PLUGIN_BASE
PLUGIN_TX_MULTISIG -> plugins/txes/aggregate.*
plugins/txes/multisig/src/cache -> bitxorcore/deltaset

PLUGIN_TX_NAMESPACE = plugins/txes/namespace/src.*
PLUGIN_TX_NAMESPACE -> src/.* # local includes
PLUGIN_TX_NAMESPACE -> PLUGIN_BASE
PLUGIN_TX_NAMESPACE -> plugins/txes/namespace.*
PLUGIN_TX_NAMESPACE -> bitxorcore/cache_core
plugins/txes/namespace/src/plugins -> bitxorcore/handlers

PLUGIN_TX_RESTRICTION_ACCOUNT = plugins/txes/restriction_account/src.*
PLUGIN_TX_RESTRICTION_ACCOUNT -> src/.*
PLUGIN_TX_RESTRICTION_ACCOUNT -> PLUGIN_BASE

PLUGIN_TX_RESTRICTION_TOKEN = plugins/txes/restriction_token/src.*
PLUGIN_TX_RESTRICTION_TOKEN -> src/.*
PLUGIN_TX_RESTRICTION_TOKEN -> PLUGIN_BASE

PLUGIN_TX_TRANSFER = plugins/txes/transfer/src.*
PLUGIN_TX_TRANSFER -> src/.* # local includes
PLUGIN_TX_TRANSFER -> PLUGIN_BASE
